<a href="https://colab.research.google.com/github/sadboy09/Rekayasa-Fitur/blob/main/RekayasaFitur(Pertemuan1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# REKAYASA FITUR - PERTEMUAN 1
# TOPIK: Pengenalan Data dan Fitur


!pip install pandas matplotlib seaborn --quiet

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style="whitegrid")
plt.rcParams['figure.figsize'] = (8,4)

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
data = pd.read_csv(url)

data.head()

In [ ]:


print("Jumlah baris dan kolom:", data.shape)
print("\nTipe data tiap kolom:")
print(data.dtypes)

print("\nStatistik deskriptif:")
print(data.describe())

print("\nJumlah nilai kosong per kolom:")
print(data.isnull().sum())

In [ ]:

#Visualisasi

sns.histplot(data['Age'], kde=True)
plt.title('Distribusi Umur Penumpang Titanic')
plt.show()

sns.countplot(x='Survived', hue='Sex', data=data)
plt.title('Kelangsungan Hidup Berdasarkan Gender')
plt.show()

In [ ]:

#Identifikasi Jenis Data

numerical_cols = data.select_dtypes(include=['int64','float64']).columns
categorical_cols = data.select_dtypes(include=['object']).columns

print("Kolom Numerik:", list(numerical_cols))
print("Kolom Kategorikal:", list(categorical_cols))